#AdminPanel {
    table {
        width: 80%;
        margin: auto;
        border-collapse: collapse;
        td,
        th {
            text-align: center;
            border: 1px solid black;
            padding: 20px 50px;
        }

        th {
            font-size: 24px;
            font-weight: 600;
        }

        td {
            font-size: 20px;
            font-weight: 500;
                
            }
        }

    }