#services{
    padding: 120px 0px;
    .services_container{
        max-width: 1200px;
        margin: auto;
        .services_content{
            .services_title{
                margin-bottom: 40px;
            }
        }
    }
}