#header {
  height: 72px;
  background-color: #007bff;
  .header_container {
    max-width: 1200px;
    margin: auto;
    .header_area {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 0px;
      h1 {
        a {
          color: white;
        }
      }
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 20px;
          li {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}
